/* Извлечено из @taiga-ui/kit/fesm2022/taiga-ui-kit-components-filter.mjs (@taiga-ui, Apache-2.0). Не редактировать вручную. */
[tuifilter]{display:block;margin-block-end:calc(-1 * var(--t-gap));--t-gap: .25rem}[tuifilter][data-size=l]{--t-gap: .5rem}[tuifilter] .t-item{max-inline-size:11rem;margin:0 var(--t-gap) var(--t-gap) 0}[tuifilter] .t-item:last-child{margin-inline-end:0}[tuifilter] .t-text{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

